<div class="favorite">
  <div class="container">
    <div class="favorite-title">
      Избранное
    </div>

    <div class="favorite-empty" *ngIf="!products || (products && products.length === 0)">
      <div>В избранном нет товаров</div>
      <button class="button" routerLink="/catalog">В каталог</button>
    </div>

    <div class="favorite-products" *ngIf="products && products.length > 0" >
      <favorite-product *ngFor="let product of products" [product]="product" (removeFromFavoritesEvent)="removeFromFavorites($event)"></favorite-product>
    </div>
  </div>
</div>
