@import "../../../../assets/styles/variables";

.favorite-product {
  padding-top: 15px;
  margin-top: 15px !important;
  border-bottom: 1px solid #E7F1E8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;

  &:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
  }

  .favorite-product-image {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
  }

  .favorite-product-name {
    margin-left: 24px;
    font-size: 20px;
    color: $gray-text-color;
    width: 567px;
    margin-right: 20px;
  }

  .favorite-product-price {
    width: 100px;
    margin-right: 130px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: $gray-text-color;
  }

  .favorite-product-action button {
    width: 160px;
    margin-right: 20px;
  }

  .favorite-product-count-selector {
    width: 100px;
  }

  .favorite-product-remove {
    margin-left: 20px;
    cursor: pointer;
  }
}
