<div class="favorite-product" *ngIf="product">
  <div class="favorite-product-image" style="background-image: url({{serverStaticPath + product.image}})" [routerLink]="'/product/' + product.url"></div>
  <div class="favorite-product-name">{{product.name}}</div>
  <div class="favorite-product-price">{{product.price}} BYN</div>
  <div class="favorite-product-action">
    <button class="button" *ngIf="!countInCart" (click)="addToCart(product.id)">В корзину</button>
    <button class="button button-transparent button-in-cart" *ngIf="countInCart"
            (click)="removeFromCartFavorites(product.id)">
      <span>В корзинe</span>
      <span>Удалить</span>
    </button>
  </div>
  <div class="favorite-product-count-selector">
    <count-selector [count]="count" (onCountChange)="updateCount($event)"></count-selector>
  </div>
  <div class="favorite-product-remove" (click)="removeFromFavorites()">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="1.93562" y1="2.6499" x2="13.9564" y2="14.6707" stroke="#A8ABA7" stroke-linecap="round"/>
      <line x1="13.9238" y1="2.62996" x2="1.90301" y2="14.6508" stroke="#A8ABA7" stroke-linecap="round"/>
    </svg>
  </div>
</div>
