@import "variables";
@import "fonts";
@import "mixins";
@import "global";

html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1 1 auto ;
}
